    <div class="contenair">
        <div class="row">           
            <div class="col-sm-2">
                <div class="panel panel-success">
                    <div class="panel-heading">     
                       <h5><i class="fa fa-twitter pull-left"></i>{{ _('All Messages') }}</h5>
                       <h4 class="center-block"><span id="label_all_messages">0</span></h4>
                    </div>
                </div>  
            </div>
            <div class="col-sm-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">     
                       <h5><i class="fa fa-money pull-left"></i>{{ _('Total Size') }}</h5>
                       <h4 class="center-block"><span id="label_size_messages">0</span></h4>
                    </div>
                </div>      
            </div>
            <div class="col-sm-2">
                <div class="panel panel-info">
                    <div class="panel-heading">     
                       <h5><i class="fa fa-ban pull-left"></i>{{ _('Spam') }}</h5>
                       <h4 class="center-block"><span id="label_spam_messages">0</span></h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="panel panel-danger">
                    <div class="panel-heading">     
                       <h5><i class="fa fa-bomb pull-left"></i>{{ _('Infected') }}</h5>
                       <h4 class="center-block"><span id="label_virus_messages">0</span></h4>
                    </div>
                </div>      
            </div>
            <div class="col-sm-2">
                <div class="panel panel-default">
                    <div class="panel-heading">     
                       <h5><i class="fa fa-bookmark pull-left"></i>{{ _('Banned') }}</h5>
                       <h4 class="center-block"><span id="label_banned_messages">0</span></h4>
                    </div>
                </div>  
            </div>
            <div class="col-sm-2">
                <div class="panel panel-warning">
                    <div class="panel-heading">     
                       <h5><i class="fa fa-legal pull-left"></i>{{ _('Bounce') }}</h5>
                       <h4 class="center-block"><span id="label_bounce_messages">0</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
